.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 32, 32);
    width: 400;
    box-shadow: 24;
    width: 80%;
    height: 80vh;
    color: white;
    overflow-y: scroll;
    border-radius: 20px;
    padding: 25px;
}

.container {
    padding: 10px 30px 30px 10px;
}

.image {
    width: 80%;
    aspect-ratio: 16/9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: monospace;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 24pt;
}

.subtitle {
    font-size: 16pt;
    font-family: monospace;
    font-weight: 100;
    text-transform: uppercase;
}

.description {
    font-family: monospace;
    font-weight: 100;
    font-size: 12pt;
    overflow-wrap: break-word;
    line-height: 1.4;
}

.readMoreButton,
.readLessButton {
  color: #959595;
}

video{
    width: 100%;
    height: 100%;
    padding-bottom: 30pt;
    padding-top: 12pt;
}

.carousel{
}

.carouselTitle{
    text-align: center;
    font-family: monospace;
    font-weight: 10;
    text-transform: uppercase;
    font-size: 16pt;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
