.bgStyle {
    padding: 50px 50px 30px 50px;
    box-sizing: border-box;
    background: rgb(43,43,43);
    font-size: 16px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #f2f2f2;
    a {
        color: #f2f2f2;
    }
}
